/* Contenedor principal del formulario */
.form-container {
    max-width: 500px;
    margin: -40px auto;
    padding: 20px;
    background-color: #171a1f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

/* Estilos para cada input */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.input-title {
  display: block;
  font-size: 16px;
  margin-left: 3px;
  font-weight: bold;
  color: #b4bbc7;
}

.textarea {
    resize: none;         
    overflow-y: auto;     
    white-space: pre-wrap;
    word-wrap: break-word;
    vertical-align: top;  
}

/* Campos de entrada de texto */
.input-field {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #2c3444;
    color: white;
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-family:  monospace;
}

.input-field:focus {
    border-color: #1db954;
    box-shadow: 0 0 5px rgba(29, 185, 84, 0.7);
}

/* Vista previa de la imagen */
.preview-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container label {
    font-size: 16px;
    cursor: pointer;
}

.checkbox-container input {
    transform: scale(1.2);
}

/* Botón de envío */
.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #1db954;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #17a04a;
    transform: scale(1.05);
}

.link-btn {
    margin-top: 1em;
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #1d7bb9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.link-btn:hover {
    background-color: #175ea0;
    transform: scale(1.05);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.checkbox-container .input-title {
    margin-bottom: 10px;
    text-align: center;
}

.checkbox-container input[type="checkbox"] {
    width: 24px;
    height: 24px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #2c3444;
    border: 2px solid #1db954;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-container input[type="checkbox"]:hover {
    background-color: #1db95433;
}

/* Oculta el input original */
input[type="file"] {
    display: none;
}
  
/* Estilo del botón personalizado */
.custom-file-label {
    background-color: #1db954;
    color: white;
    padding: 10px 10px;
    width: 25%;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
    transition: background-color 0.3s ease;
    text-align: center;
}

.custom-file-label:hover {
    background-color: #17a84b;
}

.label-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
  

@media (max-width: 600px) {
    .form-container {
        width: 75%;
        margin-top: -70px;
    }
}
